<h1>
  <%= @user.username %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>
  <% if @user.ratings.exists? %>
    averaging <%= @user.average_rating %>
  <% end %>
</p>

<p>
  Favourite beer:
  <% if @user.favourite_beer.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_beer %>
  <% end %>
  <br />
  Favourite style:
  <% if @user.favourite_style.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_style %>
  <% end %>
  <br />
  Favourite brewery:
  <% if @user.favourite_brewery.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_brewery.name %>
  <% end %>
</p>

<h2>Memberships</h2>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li>
    <%= link_to club.name, club %>
  </li>
  <% end %>
</ul>
<br>
<h2>Ratings</h2>

<% if not @user.ratings.empty? %>

    <table>
      <thead>
      <tr>
        <th>Beer</th>
        <th>Style</th>
        <th>Brewery</th>
        <th>Score</th>
        <% if current_user == @user %>
          <th></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @user.ratings.each do |rating| %>
          <tr>
            <td>
              <%= link_to rating.beer.name, rating.beer %>
            </td>
            <td>
              <%= rating.beer.style %>
            </td>
            <td>
              <%= link_to rating.beer.brewery.name, rating.beer.brewery %>
            </td>
            <td>
              <%= rating.score %>
            </td>
            <% if current_user == @user %>
              <td>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %>
              </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <th>Beer</th>
        <th>Style</th>
        <th>Brewery</th>
        <th>Score</th>
        <% if current_user == @user %>
            <th></th>
        <% end %>
      </tr>
      </tfoot>

    </table>

<% else %>
    No known ratings.
<% end %>

<span class="tools">
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <% if current_user.admin %>
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>

  <%= link_to 'Back', users_path %>
</span>