<h1>
  <%= @user.username %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>
  <% if @user.ratings.exists? %>
    averaging <%= @user.average_rating %>
  <% end %>
</p>

<p>
  Favourite beer:
  <% if @user.favourite_beer.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_beer %>
  <% end %>
  <br />
  Favourite style:
  <% if @user.favourite_style.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_style %>
  <% end %>
  <br />
  Favourite brewery:
  <% if @user.favourite_brewery.nil? %>
    unknown
  <% else %>
    <%= @user.favourite_brewery.name %>
  <% end %>
</p>

<h3>Memberships</h3>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li>
    <%= link_to club.name, club %>
  </li>
  <% end %>
</ul>

<h3>Ratings</h3>

<ul>
  <% @user.ratings.each do |rating| %>
  <li>
    <%= rating.to_s %>
    <% if @user == current_user %>
      <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <% if current_user.admin %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>

<%= link_to 'Back', users_path %>
