<% cache('ratingslist', :expires_in => 10.minute, skip_digest:true) do %>

<h1>Listing ratings</h1>

<h2>Newest ratings</h2>
<% if not @most_recent_ratings.empty? %>
    <%= render 'list', ratings:@most_recent_ratings %>
<% else %>
  No known ratings.
<% end %>

<% unless @users_with_most_ratings.empty? %>
    <h2>Users with most ratings</h2>
   <%= render 'users/list', users:@users_with_most_ratings %>
<% end %>

<% unless @best_breweries.empty? %>
    <h2>Best breweries</h2>
    <%= render 'breweries/list', breweries:@best_breweries %>
<% end %>


<% unless @best_beers.empty? %>
    <h2>Best beers</h2>
    <%= render 'beers/list', beers:@best_beers %>
<% end %>

<% unless @best_styles.empty? %>
    <h2>Best styles</h2>
    <%= render 'styles/list', styles:@best_styles %>
<% end %>

<% end #cache %>

<p><%= link_to 'New rating', new_rating_path if current_user %></p>