<h1><%= @style.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <% if @style.description.nil? %>
    No description set for this style.
  <% else %>
    <%= @style.description %>
  <% end %>
</p>

<h2>Beers</h2>
<% unless @style.beers.nil? %>
<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>
<% end %>

<span class='tools'>
  <% if current_user %>
    <%= link_to 'Edit', edit_style_path(@style) %>
      <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', styles_path %>
</span>