<table>
  <thead>
    <tr>
      <% if current_page?(breweries_path) or current_page?(root_path) %>
        <th> <%= link_to 'Name', breweries_path(order:'name') %> </th>
        <th> <%= link_to 'Year', breweries_path(order:'year') %> </th>
        <th>Average Rating</th>
      <% else %>
        <th>Name</th>
        <th>Year</th>
        <th>Average Rating</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%#= round(brewery.average_rating) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <% if current_page?(breweries_path) %>
        <th> <%= link_to 'Name', breweries_path(order:'name') %> </th>
        <th> <%= link_to 'Year', breweries_path(order:'year') %> </th>
        <th>Average Rating</th>
      <% else %>
        <th>Name</th>
        <th>Year</th>
        <th>Average Rating</th>
      <% end %>
    </tr>
  </tfoot>
</table>