<% cache @brewery do %>

<h1>
  <%= @brewery.name %> <br />
  <% if not @brewery.active  %>
      <span class="retired">Retired</span>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <i>Established <%= @brewery.year %></i><br />
  <% if not @brewery.active  %>
      <span class="retired">Retired</span>
  <% end %>
</p>

<h2>Beers</h2>
<% if @brewery.beers.empty? %>
    No known beers.
<% else %>
    <%= render 'beers/list', beers:@brewery.beers %>
<% end %>

<h2>Ratings</h2>
<p>
  <% if @brewery.ratings.empty? %>
      The brewery has no ratings!
  <% else %>
      Has <%=pluralize(@brewery.ratings.count, 'rating')%>, average rating <%= @brewery.average_rating %>
  <% end %>
</p>

<% end #cache%>

<span class="tools">
  <%= link_to 'change activity', toggle_activity_brewery_path(@brewery.id), method: :post %>
</span>

<span class="tools">
  <% if current_user %>
    <%= link_to 'Edit', edit_brewery_path(@brewery) %>
    <%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', breweries_path %>
</span>