<% cache @beer do %>

<h1>
  <%= @beer.name %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
<% if @beer.ratings.empty? %>
    Beer has not yet been rated!
<% else %>
    Beer has <%=pluralize(@beer.ratings.count, 'rating')%>, average rating <%= "%.2f" % @beer.average_rating %>
<% end %>
</p>

<% end #cache%>

<% if current_user %>
<div>
  <h2>Rate</h2>
  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field(:beer_id)%>
    <%= f.label :score %>
    <%= f.number_field :score, min:0 %>
    <%= f.submit 'Rate' %>
  <% end %>
</div>
<% end %>

<span class="tools">
  <%= edit_and_destroy_buttons(@beer) %>
  <%= link_to 'Back', beers_path %>
</span>