<h1>Beer places search</h1>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<%= form_tag places_path do %>
  <%= label_tag :city %>
  <%= text_field_tag :city, params[:city] %>

  <%= submit_tag 'Search' %>
<% end %>

<% if @places %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Street</th>
        <th>City</th>
        <th>Zip</th>
        <th>Country</th>
        <th>Overall</th>
      </tr>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%=link_to place.name, "#{places_path}/#{place.id}" %></td>
        <td><%=place.status %></td>
        <td><%=place.street %></td>
        <td><%=place.city %></td>
        <td><%=place.zip %></td>
        <td><%=place.country %></td>
        <td>
          <% unless place.overall.nil? %>
            <%="%.1f" % place.overall %>
          <% end %>
         </td>
      </tr>
    <% end %>
    <tfoot>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Overall</th>
    </tr>
    </tfoot>
  </table>
<%end%>